html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 pix we want the size to be 10px so we do 62.5%. */
  font-family: "Bitter", serif;
}
body {
  background-color: whitesmoke;
}
.title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80vw;
  margin: 2rem auto;
}
.card {
  height: 40rem;
  font-size: 2rem;
  background-color: white;
  padding: 1rem;
  width: 30%;
  margin: 2rem;
  text-align: center;
  border-radius: 2rem;
}
.caption {
  text-align: center;
}
.subtitle {
  height: 5rem;
}
