html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 pix we want the size to be 10px so we do 62.5%. */
  background-color: whitesmoke;
  font-family: "Bitter", serif;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}
.child {
  width: 30%;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  padding: 2rem;
  text-align: center;
  height: 45rem;
  width: 45rem;
}
.child-1 {
}
.child-2 {
}
.child-3 {
}
