html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 pix we want the size to be 10px so we do 62.5%. */
  font-family: "Bitter", serif;
}
body {
  background-color: whitesmoke;
  justify-content: center;
}
.title {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85vw;
  margin: 10px auto;
}
.card {
  height: 35rem;
  font-size: 15px;
  background-color: white;
  padding: 1rem;
  width: 30%;
  margin: 1rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 2rem;
  color: darkgrey;
  align-items: center;
  box-shadow: 0 8px 8px rgb(193, 202, 209);
}
.caption {
  text-align: center;
  font: 500px;
}
.subtitle {
  height: 5rem;
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem;
  width: 21%;
  margin: 2rem;
  text-align: center;
  border-radius: 5px;
  color: grey;
}
.img {
  padding: 1rem;
  width: 282px;
  height: 290px;
  object-fit: cover;
  border-radius: 1.5rem;
}
.cherry:hover {
  outline: 3px solid rgb(175, 49, 49);
  outline-offset: 5px;
  color: rgb(175, 49, 49);
  transform: scale(1.1);
  transition: all 0.4s;
}
.pear:hover {
  background-color: rgb(232, 238, 212);
  transform: scale(1.05);
  transition: 0.2s;
}
.papaya:hover {
  margin: 1rem;
  transition: 0.5s;
}
.pomegranate:hover {
  transform: scale(0.9);
  transition: 0.5s;
}
.pineapple:hover {
  filter: sepia(0.7);
  transform: scale(0.9);
}
